
__pycache__
*.pyc
*.egg-info
.coverage
build
docs/build
.tox/
.cache/
.idea
*.iml
*~
.vscode
.venv
.pytest_cache
.env
.env.example

# pyenv
.python-version

# uv
uv.lock
requirements.lock
requirements-dev.lock

# build
/dist